@import 'leaflet/dist/leaflet.css';

.icon{
    width:100%;
    font-size: 18px;
}

.text{
    width:100%;
    font-size: 16px;
}


/*.each_info{
    display: flex;
    padding: 10px;
    width: 100%;
    --background: transparent;
    background: transparent;
}*/


#allday{
    font-size: 12px;
    font-weight: lighter;
}



/*--Grid styling for dates--*/
.grid-container{
    padding: 10px;
    display: grid;
    /*grid-template-columns: repeat(1, 1fr 7fr);
    grid-template-rows: repeat(3, 1fr);*/
    grid-template-columns: 1fr minmax(80%, 85%);
    grid-template-rows: minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) minmax(30px, auto)
    minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) minmax(30px, auto) minmax(30px, auto)
    minmax(30px, auto) minmax(30px, auto)  minmax(200px, auto);
    gap: 15px;
    row-gap: 25px;
    
}
/*price: number,
    ownerno: number,
    ownername: string,
    tenantno:number,
    tenantname: string,
    size: string, */

/*Title info*/
#title-icon{
    grid-column: 1;
    grid-row: 1;
}

#title-txt{
    grid-column: 2;
    grid-row: 1;
}

/*Address info*/
#address-icon{
    grid-column: 1;
    grid-row: 2;
}

#address-txt{
    grid-column: 2;
    grid-row: 2;
}

/*price info*/
#price-icon{
    grid-column: 1;
    grid-row: 3;
}

#price-txt{
    grid-column: 2;
    grid-row: 3;
}

/*size info*/
#size-icon{
    grid-column: 1;
    grid-row: 4;
}

#size-txt{
    grid-column: 2;
    grid-row: 4;
}

/*Time info*/
#time-icon{
    grid-column: 1;
    grid-row: 5;
}

#time-txt{
    grid-column: 2;
    grid-row: 5;
}

.time-content{
    padding-bottom: 15px;
}

/*ownername info*/

#owner-title{
    grid-column: 2;
    grid-row: 6;
    font-weight: bold;
    font-size: 19px;
}
#ownername-icon{
    grid-column: 1;
    grid-row: 7;
}

#ownername-txt{
    grid-column: 2;
    grid-row: 7;
}

/*ownerno info*/
#ownerno-icon{
    grid-column: 1;
    grid-row: 8;
}

#ownerno-txt{
    grid-column: 2;
    grid-row: 8;
}

/*tenantname info*/
#tenant-title{
    grid-column: 2;
    grid-row: 9;
    font-weight: bold;
    font-size: 19px;
}

#tenantname-icon{
    grid-column: 1;
    grid-row: 10;
}

#tenantname-txt{
    grid-column: 2;
    grid-row: 10;
}

/*tenantno info*/
#tenantno-icon{
    grid-column: 1;
    grid-row: 11;
}

#tenantno-txt{
    grid-column: 2;
    grid-row: 11;
}


#google-map{
    grid-column: 1 / span 2;
    grid-row: 12;
    height:100%;
    width:100%;
}



.end-of-item-event{
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
}


/*footer*/
.footer-btn{
    display: flex;
    flex-direction: column;
}
#icon-footer{
    font-size: 23px;
}

#label-footer{
    font-size: 10px;
    margin: 0;
    padding: 2px;
}



/*Map*/
.map-container{
    height: 100%;
    width: 100%;
}